/*---------------------------------
    Common Styles
---------------------------------*/




/*---------------------------------
    Boostrap 4 Collapse Styles
---------------------------------*/


section.collapse-buttons button{
    width: 220px;
    margin: 15px;
}

/* Show Offer Button */
section.collapse-buttons button.btn-offers.collapsed::after {
  content: 'Show Offers';
}

section.collapse-buttons button.btn-offers:not(.collapsed)::after {
  content: 'Hide Offers';
}

/* Show Subscriptions Button */
section.collapse-buttons button.btn-subs.collapsed::after {
  content: 'Show Subscriptions';
}

section.collapse-buttons button.btn-subs:not(.collapsed)::after {
  content: 'Hide Subscriptions';
}

section.accordion-data{
    margin: 25px auto;
}

section.accordion-data #collapseOffers,
section.accordion-data #collapseSubs{
    width: 100%;
}

section.accordion-data .card{
    margin-bottom: 25px;
    box-shadow: 0px 5px 5px rgba(98, 112, 139, 0.25);
}

.contract-part p{
    margin-bottom: 0;
}


/*---------------------------------
    Footer Styles
---------------------------------*/
footer{
    background-color: #e9ecef;
}

/*---------------------------------
    Responsive Design
---------------------------------*/

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .jumbotron{
        text-align: center;
        padding: 2rem 1rem;
    }
    footer img.img-fluid{
        max-width: 100px!important;
    }
    footer p.lead{
        font-size: 14px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    section.collapse-buttons button{
        margin-bottom: 0px;
    }
    .card{
        text-align: center;
    }
    .multi-collapse h4.lead{
        text-align: center;
    }
}





